@charset "UTF-8";
:root {
    --cor-principal: #003748;
    --cor-texto: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Classes das Cores */

/* Classes de Fontes */
.fw-medium {
    font-weight: 500;
}
/* CSS */
#navBar {
    background-color: var(--cor-principal);
}
/* Barra de Navegação */
nav#navBar div a {
    color: var(--cor-texto);
}
/* Conteúdo Principal */
main > div:first-child {
    width: 100%;
    height: 200px;
    background-color: white;
}
/* Barra de pesquisa (PC)[Dropdown] */
#barraDePesquisa {
    
}

/*footer}*/
footer{
    padding:20px;
    background: rgb(21,4,98);
color: white;
margin-top:20px;
}
