@charset "UTF-8";

:root {
    --cor-principal: #003748;
    --cor-texto: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto)
}
nav > div a {
    color: var(--cor-texto);
}
#barraNavegação {
   background-color: var(--cor-principal);
}
