@charset "UTF-8";
@media screen and (min-width: 600px) {
    :root {
        --cor-principal: #003748;
        --cor-texto-nav: #fff;
        --cor-texto-nav-hover: rgb(205, 205, 205);
        --cor-caixa-de-pesquisa: #F6F6F6;
        --cor-texto: #fff;
        --cor-botao-pesquisar: #9B9B9B;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "h h""m m""f f";
    }
    body {
        font-family: 'Poppins', sans-serif;
    }
    /* Barra de Navegação */
    header {
        grid-area: h;
    }
    header #caixa-cabecario {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: var(--cor-principal);
    }
    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    header nav a#logo {
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: var(--cor-texto);
    }
    header nav .lista-links-nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    header nav .lista-links-nav li a {
        text-decoration: none;
        padding: 5px;
        margin: 0 10px;
        color: var(--cor-texto-nav);
        font-size: 18px;
    }
    header nav .lista-links-nav li a:hover {
        color: var(--cor-texto-nav-hover);
    }
    header nav #botaoPesquisar {
        width: 30px;
        height: 30px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        color: var(--cor-texto-nav);

    }
    header #caixa-pesquisa {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color: var(--cor-caixa-de-pesquisa);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    header #caixa-pesquisa input[type=search] {
        min-width: 500px;
        height: 35px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
    header #caixa-pesquisa input[type=search]:focus {
        outline: none;
    }
    header #caixa-pesquisa input[type=search]:focus::placeholder {
        opacity: 0;
    }
    header #caixa-pesquisa input[type=submit] {
        width: 100px;
        height: 36px;
        border: none;
        margin-left: -4px;
        background-color: var(--cor-botao-pesquisar);
        box-shadow: 1px 0px 3px 1px rgb(0 0 0 / 20%);
        color: var(--cor-texto-nav);
        border-radius: 0 5px 5px 0;
        text-transform: uppercase;
    }
    /* Conteúdo Principal */
    main {
        grid-area: m;
    }
    main #conteudo-principal {
        height: 500px;
    }
    /* Sobre */
    .main-1 {
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .main-1 > span {
        height: 2px;
        width:95px;
        background-color: var(--cor-botao-pesquisar);
    }
    .main-1 > p {
        text-align: justify;
    }
    /* Rodapé */
    footer {
        grid-area: f;
    }
    footer #caixa-rodape {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 10px 1fr;
        align-items: center;
        justify-items: center;
        background: var(--cor-principal);
        color: white;
    }
    footer #caixa-contato {
        grid-column: 1/2;
        grid-row: 1;
    }
    footer #caixa-contato dl {
        margin: 0;
    }
    footer #caixa-contato dl > dt {
        font-weight: 600;
        font-size: 20px;
        margin: 0;
    }
    footer #caixa-contato dl > dd {
        font-size: 16px;
        margin: 0;
    }
    footer #caixa-links-rodape {
        grid-column: 2/3;
        grid-row: 1;
    }
    footer #caixa-links-rodape a {
        padding: 5px;
        margin: 0 5px;
        font-size: 14px;
        text-decoration: none;
        color: var(--cor-texto);
    }
    footer #caixa-links-rodape a:hover {
        color: var(--cor-texto-nav-hover);
    }
    footer #caixa-social {
        grid-column: 3/4;
        grid-row: 1;
        font-size: 30px;
    }
    footer #divisoria-rodape {
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
        height: 1px;
        background: var(--cor-texto);
    }
    footer #copyright {
        grid-column: 1/4;
        grid-row: 3;
    }
}